In [ ]:
# Polymorphism means one material having multiple behaviour in different situation

In [7]:
def test(a,b) :
    return(a + b)

In [8]:
test(3,4)

7

In [5]:
test("rajib" , "khan")

'rajibkhan'

In [6]:
test([1,2,3,4,5],[6,7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
class data_science :
    def syllabus(self) :
        print('this is my syllabus for data science masters')

In [11]:
class web_dev :
    def syllabus(self):
        print('this is my syllabus of web dev')

In [12]:
def class_parcer(class_obj) :
    for i in class_obj :
        i.syllabus()

In [13]:
data_science = data_science()

In [14]:
web_dev = web_dev()

In [15]:
class_obj = [data_science, web_dev]

In [16]:
class_parcer(class_obj)

this is my syllabus for data science masters
this is my syllabus of web dev

In [21]:
class car :
    def info(self) :
        print('This is best car')
class home :
    def info(self) :
        print('This is best home')
def money(money_buy) :
    for i in money_buy :
        i.info()

In [22]:
car = car()
home = home()
money_buy = [car, home]

In [23]:
money(money_buy)

This is best car
This is best home

In [30]:
class country :
    def name(self) :
        print('my country name is India.')
class state :
    def name(self) :
        print('my state name is West Bengal.')
def district(all_info) :
    for i in all_info :
        i.name()

In [31]:
country = country()
state = state()
all_info = [country, state]

In [32]:
district(all_info)

my country name is India.
my state name is West Bengal.

In [33]:
class company :
    def name(self) :
        print('the comapany name is XYZ.')
class position :
    def name(self) :
        print('the position name is Data Scientist.')
def employee(employee_info) :
    for i in employee_info :
        i.name()

In [34]:
company = company()
position = position()
employee_info = [company, position]

In [35]:
employee(employee_info)

the comapany name is XYZ.
the position name is Data Scientist.